<footer>
    <ul class="wrapper">
        <a href="https://www.linkedin.com/in/marcosvillarreal01" target="_blank" title="Linkedin Joaquin Mayor">
            <li class="icon linkedin">
                <span class="tooltip span">Linkedin</span>
                <span><i class="fab fa-linkedin"></i></span>
            </li>
        </a>
        <a href="https://github.com/MarcosVillarreal1" target="_blank" title="Github Joaquin Mayor">
            <li class="icon github">
                <span class="tooltip span">Github</span>
                <span><i class="fab fa-github"></i></span>
            </li>
        </a>
    </ul>
    
</footer>