<header>
    <nav class="nav">
        <a class="back"
            [routerLink]="getRouter() !== '/home' ? (getRouter().startsWith('/pokedex/pokemon') ? ['/pokedex'] : ['']) : null"
            *ngIf="getRouter() !== '/home'" title="Volver">Volver</a> <!-- La expresión (getRouter().startsWith('/pokedex/pokemon') ?
        ['/pokedex'] : ['']) verifica si la ruta actual comienza con '/pokedex/pokemon'. -->
        
        <section class="navbar_menuSinLog" *ngIf="user.getId==='0'; else log">
            <a [routerLink]="['user/create']" title="Crear Cuenta">Crear Cuenta</a>
            <a [routerLink]="['user/logging']" title="Loguearse">Loguearse</a>
            <a class="ranking" [routerLink]="['ranking']" title="Puntajes">Puntajes</a>
        </section>
        <ng-template #log>
            <section class="navbar__menu">
                <a class="ranking" [routerLink]="['ranking']" title="Puntajes">Puntajes</a>
                <div class="menuVistaUsuario" (click)="toggleDropdown()">
                    <p>{{user.getName}}</p>
                    <img [src]="user.getPhoto" alt="Imagen de Usuario" title="Imagen de Usuario {{user.getName}}">
                </div>
                <ul class="menu-dropdown" [class.active]="dropdownActive">
                    <li><a [routerLink]="['user/modify', user.getId]" title="Configuracion">Configuracion</a></li>
                    <li><button (click)="logOut()" title="Desconectar">Desconectar</button></li>
                </ul>
            </section>
        </ng-template>
    </nav>
</header>