<ul class="contenedorAyudas">
    <li>Tipo 1
        <p class="contenedorLetra" [ngClass]="compareType1()">{{stat.getType1}}</p>
    </li>
    <li>Tipo 2
        <p class="contenedorLetra" [ngClass]="compareType2()">{{stat.getType2}}</p>
    </li>
    <li>Peso
        <img [src]="compareWeight()" alt="Flecha" title="Flecha">
    </li>
    <li>Altura
        <img [src]="compareHeight()" alt="Flecha" title="Flecha">
    </li>
    <li>Estadistica Destacada
        <p class="contenedorLetra especial" [ngClass]="compareBestStat()">{{bestStat}}</p>
    </li>
</ul>