<section class="containerTotalRanking">
    <section class="containerButtons">
        <button (click)="changeTable(3)" title="Ranking Imagenes">Ranking</button>
    </section>
    <section class="containerRanking">
        <div class="containerRanking__title">
            <h2 class="containerRanking__title--text" title="Ranking de Puntajes">Ranking de Puntajes</h2>
        </div>
        <div class="containerRanking__list">
            <ol class="containerRanking__list--list">
                <li *ngFor="let user of ranking, let i = index">
                    <span class="containerRanking__list--name">{{user.getName}}</span>
                    <span class="containerRanking__list--score">{{scores[i]}}</span>
                </li>
            </ol>
        </div>
    </section>
</section>