$background-color_1: gray;
$background-color_2: red;
$background-color_3: green;
$background-color_4: orange;

.containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    button {
        padding: 0.5rem;
        cursor: pointer;
        background-color: #4CAF50;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        font-size: 1rem;
        font-weight: 100;

        &:hover {
            background-color: #45a049;
        }

        &:active {
            background-color: #3e8e41;
        }
    }
}

.containerTodoWordle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;

    .containerDataWordle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;

        .life {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            padding: 0.5rem;
            border-radius: 1rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.39);
            user-select: none;
            pointer-events: none;

            img {
                width: 4rem;
            }
        }

        .signoAyuda {
            width: 3.5rem;
            cursor: pointer;

            &:hover {
                animation: increment 0.5s ease-in-out infinite;
            }
        }

        .containerInputBtn {
            display: flex;
            gap: 1rem;

            .containerInputList {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: relative;

                input {
                    @media screen and (max-width: 550px) {
                        width: 12rem;
                    }
                }

                input[type="text"] {
                    padding: 0.5rem;
                    font-size: 1rem;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: #fff;
                    color: #333;
                    transition: border-color 0.3s ease;

                    &::placeholder {
                        color: #888;
                    }

                    &:hover {
                        border-color: #999;
                    }

                    &:focus {
                        outline: none;
                        border-color: #5c9ce6;
                        box-shadow: 0 0 0 2px #5c9ce6;
                    }
                }

                @media screen and (max-width: 550px) {
                    gap: 0rem;

                    input[type="text"] {
                        font-size: 0.8rem;
                    }
                }

                .lista {
                    position: absolute;
                    max-height: 8rem;
                    width: 12rem;
                    overflow-y: scroll;
                    top: 100%;
                    z-index: 10;
                    background-color: rgba(254, 255, 0, 0.5882352941);
                    border-radius: 1rem;
                    padding: 1rem;
                    list-style: none;
                    text-align: center;

                    li {
                        border-radius: 10%;
                        cursor: pointer;
                        transition: all 1s ease;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.356);
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        background-color: #5c9ce6;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #4287f5;
        }

        @media (max-width: 420px) {
            padding: 0.5rem 0.8rem;
        }
    }

    .containerWorleFacil {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: clamp(35rem, 60vw, 65rem);
        height: auto;
        background-color: #ffffff;
        margin: 2rem;
        padding: 4rem;
        border-radius: 2rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.39);

        .subContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            input {
                padding: 0.5rem;
                width: 13.1rem;
                border: none;
                border-radius: 0.5rem;
                background-color: #fff;
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
                color: #333;
                font-size: 1rem;

                &::placeholder {
                    color: #999;
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
                }
            }
        }

        .contenedorPalabraCompleta {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;

            .contenedorLetra {
                display: flex;
                margin: 0.2rem;
                width: clamp(1rem, 8vw, 2rem);
                height: clamp(1.5rem, 10vh, 3rem);
                align-items: center;
                justify-content: center;
                border-radius: 20%;
                border: 0.125rem solid black;
                font-size: 1.5rem;
                transition: all 0.3s ease;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
                    transform: scale(1.1);
                }
            }
        }

        .gris {
            background-color: $background-color_1;
        }

        .rojo {
            background-color: $background-color_2;
        }

        .verde {
            background-color: $background-color_3;
        }

        .naranja {
            background-color: $background-color_4;
        }
    }

    @media (max-width: 768px) {
        .containerWorleFacil {
            width: 90%;
            height: auto;
            padding: 2rem;
        }

        .subContainer {
            input {
                width: 100%;
            }
        }

        .contenedorPalabraCompleta {
            flex-wrap: wrap;

            .contenedorLetra {
                margin: 0.5rem;
            }
        }
    }

    @media (max-width: 480px) {
        .containerPrincipal {
            gap: 1rem;
        }

        .containerTodoWordle {
            .containerInputBtn {
                flex-direction: column;
                gap: 1rem;
            }

            .containerWorleFacil {
                width: 100%;
                padding: 1rem;
            }

            .subContainer {
                input {
                    width: 100%;
                }
            }
        }
    }
}

.containerAyudas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: clamp(20rem, 100%, fit-content);
    max-width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.39);

    @media (max-width: 768px) {
        padding: 2rem;
        border-radius: 1rem;
        margin: 2rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.39);
    }

    @media (max-width: 480px) {
        border-radius: 0.5rem;
        box-shadow: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 24;

    .containerFinish {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        p {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }

        button {
            padding: 0.5rem 1rem;
            cursor: pointer;
            border: none;
            border-radius: 0.25rem;
            font-size: 1rem;
            background-color: #007bff;
            color: #fff;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    .btnStart {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        background-color: #007bff;
        color: #fff;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }

    .popup {
        position: relative;
        width: 15rem;
        padding: 2rem;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5%;
        z-index: 25;

        .close-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: transparent;
            border: none;
            font-size: 18px;
            cursor: pointer;
        }

        .content {
            margin-bottom: 20px;
        }

        .accept-button {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #45a049;
            }
        }
    }

    &.hidden {
        display: none;
    }

    img {
        width: clamp(20rem, 40rem, 100%);
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        animation: transparency 1s ease-in-out infinite;
        user-select: none;
        pointer-events: none;
    }
}

@keyframes transparency {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes increment {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}