
.containerModifyUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #0d47a1;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    min-height: 100vh;
    color: black;

    h2 {
        font-weight: 100;
    }

    .containerPrincipal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        color: black;
    }

    .containerPrincipalModifyUserNamePassword {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerModifyUserNamexPassword {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5%;
        background-color: #dbe0e5e3;
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem;
        width: 15rem;

        button {
            padding: 0.5rem;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 0.5rem;
            font-size: 1rem;
            transition: all ease 0.5s;

            &:hover {
                background-color: rgba(199, 190, 190, 0.644);
                color: black;
            }
        }

        // Media queries
        @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: flex-start;
            width: auto;

            button {
                width: 100%;
            }
        }
    }

    .containerNamexpassword {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 5%;
        background-color: #0d47a1;
        font-size: 1rem;
        text-align: center;
        margin: 1rem;

        input {
            padding: 0.2rem;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 0.5rem;
            font-size: 0.8rem;
            transition: all ease 0.5s;
        }

        button {
            padding: 0.2rem;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 0.5rem;
            font-size: 0.8rem;
            transition: all ease 0.5s;

            &:hover {
                background-color: rgba(199, 190, 190, 0.644);
                color: black;
            }
        }

        @media screen and (max-width: 480px) {
            gap: 0.3rem;
            padding: 0.3rem;

            input {
                padding: 0.15rem;
                font-size: 0.7rem;
                width: 100%;
            }

            button {
                padding: 0.15rem;
                font-size: 0.7rem;
            }
        }
    }

    .desplegable {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 15rem;

        .galeriaFotos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            background-color: rgba(255, 255, 255, 0.644);
            border: 1px solid black;
            border-radius: 5%;
            padding: 0.5rem;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                cursor: pointer;
                border: 1px solid black;
                background-color: rgba(255, 255, 255, 0.644);
                transition: all ease 0.5s;

                &:hover {
                    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.63);
                    border: 1px solid black;
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 480px) {
            width: auto;

            img {
                width: 6rem;
                height: 6rem;
                margin-bottom: 0.3rem;
            }
        }
    }

    .border-animation {
        animation: border-color 5s infinite;
    }

    @keyframes border-color {
        0% {
            border-color: #93b954;
        }

        25% {
            border-color: #C22E28;
        }

        50% {
            border-color: #4E6794;
        }

        75% {
            border-color: #A33EA1;
        }

        100% {
            border-color: #F7D02C;
        }
    }

    .fotoSeleccionada {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.644);
        transition: all ease 0.5s;

        &:hover {
            box-shadow: 0 0 2rem rgba(255, 230, 0, 0.63);
            border: 1px solid black;
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    .btn {
        padding: 0.5rem;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.644);
        border-radius: 0.5rem;
        font-size: 1rem;
        transition: all ease 0.5s;

        &:hover {
            background-color: rgba(199, 190, 190, 0.644);
            color: black;
        }
    }

    .containerScore {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        background-color: rgba(255, 255, 255, 0.644);
        border: 1px solid black;
        border-radius: 5%;
        padding: 1rem;
        margin: 1rem;
        width: 100%;

        .wordleFacil,
        .wordleDificil,
        .wordleImagenes {
            grid-column: 1;
        }

        h2 {
            margin: 0;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
}